@media (max-width: 1199px) {
  .header-wrapp {
    padding-left: 225px; }
  .search {
    width: 35%; }
  .project-header .pull-left,
  .project-header .pull-right {
    float: none !important; }
  .register-item .inner-form__item,
  .register-item .password-form__item {
    padding-left: 20px; }
  .register-item .inner-form,
  .register-item .password-form {
    margin-left: -20px; }
  .mechanics-buttons {
    margin-left: -15px; }
  .button-block {
    padding-left: 15px; }
  .tag .pull-left,
  .tag .pull-right {
    float: none !important; }
  .tag .pull-left {
    margin-bottom: 10px; }
  .news-title {
    font-size: 22px; }
  .right-arrow {
    margin-left: 0; }
  .news-link {
    font-size: 14px; }
  .news-date {
    font-size: 12px; }
  .useful-sites a {
    margin: 5px 1px; }
  .useful-sites {
    font-size: 16px; }
  .footer__contacts__icon {
    width: 27px; }
  .profile-show__left {
    margin-bottom: 15px; } }

@media (max-width: 991px) {
  .hidden-sm {
    display: none; }
  .register-item .password-form__item {
    margin-bottom: 0; }
  .inner-form {
    margin-bottom: 0; }
    .inner-form__item {
      margin-bottom: 20px; }
  .no-float-sm {
    float: none !important; }
  .about-img {
    height: 400px; }
  .nav__menu > li > a {
    font-size: 14px; }
  .published {
    text-align: left; }
  .profile-grid {
    margin-bottom: 30px; }
  .project-header .news-label {
    margin: 0;
    display: block; }
  .label-item {
    margin: 10px 5px; }
  .form-info {
    padding-top: 0; }
  .password-form__item {
    margin-bottom: 20px; }
  .search-total {
    margin-bottom: 15px; }
  .form-info {
    font-size: 16px; }
  .social-form .password-form {
    padding: 0; }
  .password-form {
    padding-bottom: 0; }
  .content_password {
    padding: 50px 0; }
  .input-group_top {
    padding-top: 0; }
  .nav__menu a {
    font-size: 16px; }
  .logo__icon {
    border-right: 0;
    padding-right: 0; }
  .footer__logo-icon {
    padding-right: 0;
    border-right: 0; }
  .news-rubric {
    padding: 0 20px; }
  .news-title__text,
  .news-text {
    padding: 0 15px; }
  .news-bottom {
    padding: 15px; }
  .footer__contacts__item > div {
    display: block;
    margin-bottom: 10px; }
  .footer__contacts__tel {
    padding-left: 0; }
  .footer__contacts {
    font-size: 14px; }
  .mrg-sm {
    margin-bottom: 30px; }
  .create {
    font-size: 12px; }
  .header-wrapp {
    padding-left: 0; }
  .search {
    width: 30%; }
  .header-title {
    padding-top: 0; }
  .logo {
    position: relative;
    top: 0; }
  .social-item {
    margin: 0 5px; } }

@media (min-width: 768px) {
  .left-block {
    float: left; }
  .nav__menu > li {
    padding-left: 15px;
    padding-right: 15px; }
    .nav__menu > li:hover > div {
      display: block; }
      .nav__menu > li:hover > div > ul > li:hover > div {
        display: block; }
  .drop-menu {
    position: absolute;
    z-index: 5;
    left: 0;
    padding-top: 12px;
    width: 100%;
    display: none; }
    .drop-menu__item {
      background: #fff;
      -webkit-box-shadow: -1px 3px 3px 0px rgba(0, 0, 0, 0.1);
      box-shadow: -1px 3px 3px 0px rgba(0, 0, 0, 0.1);
      -webkit-border-radius: 5px;
      border-radius: 5px;
      position: relative;
      z-index: 4; }
      .drop-menu__item:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 3;
        background: url(../img/drop-arrow.png) no-repeat;
        width: 20px;
        height: 20px;
        top: -10px;
        left: 50%;
        margin-left: -10px; }
      .drop-menu__item li {
        position: relative;
        z-index: 4; }
        .drop-menu__item li:first-child {
          -webkit-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0; }
          .drop-menu__item li:first-child > a {
            -webkit-border-radius: 5px 5px 0 0;
            border-radius: 5px 5px 0 0; }
        .drop-menu__item li:last-child {
          -webkit-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px; }
          .drop-menu__item li:last-child > a {
            -webkit-border-radius: 0 0 5px 5px;
            border-radius: 0 0 5px 5px;
            border-bottom: 0; }
        .drop-menu__item li:hover > a {
          background: #f1f1f1;
          color: #358ed7; }
      .drop-menu__item a {
        display: block;
        padding: 10px 15px;
        font-size: 14px;
        text-align: center;
        color: #86939e;
        border-bottom: 1px solid #e1e8ee; }
  .drop-menu_second {
    padding-top: 0;
    left: 99%;
    top: 0;
    display: none; }
    .drop-menu_second .drop-menu__item:before {
      content: "";
      margin-left: 0;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      left: -10px;
      top: 7px; }
  .right-block {
    float: right; }
  .visible-xs {
    display: none; }
  .nav__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .footer-wrapp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; } }

@media (max-width: 767px) {
  .left-block {
    margin-bottom: 15px; }
  .nav__menu .drop-menu_second a {
    padding-left: 30px !important;
    padding-right: 30px !important; }
  .nav__menu .drop-menu a {
    display: block;
    color: #43474d;
    padding-left: 20px;
    padding-right: 20px; }
    .nav__menu .drop-menu a:hover, .nav__menu .drop-menu a.active {
      color: #358ed7; }
  .drop-menu {
    display: none; }
  .register-import {
    margin-left: 0;
    display: block; }
  .register-item .password-form__item {
    padding-left: 30px; }
  .register-item .password-form {
    margin-left: -30px; }
  .about-img {
    height: 300px; }
  .nav__menu > li > a {
    font-size: 18px;
    padding: 10px; }
  .button-block {
    margin-bottom: 15px; }
  .calc-radio__item {
    display: block;
    margin-left: 0;
    margin-top: 5px; }
  .info-icon {
    display: none; }
  .calc-form__item {
    text-align: center;
    margin-bottom: 20px; }
  .calc-form__val,
  .calc-form__input,
  .calc-form__label {
    display: block;
    width: auto;
    margin-bottom: 10px; }
  .private-content {
    overflow-x: auto; }
  .calc-form__send {
    width: auto;
    margin-bottom: 15px;
    display: block; }
  .content_password {
    padding: 30px 0; }
  .calc-form__label {
    padding-left: 0; }
  .private-table {
    table-layout: fixed;
    width: 767px; }
  .tag-item {
    margin: 5px; }
  .pagination {
    margin: 25px 0; }
  .pagination__list {
    margin: 10px; }
  .pagination__btn {
    margin: 10px; }
  .download-text {
    margin: 15px 0;
    font-size: 15px; }
  h2,
  .h2 {
    font-size: 24px; }
  h3,
  .h3 {
    font-size: 22px; }
  h4, .h4 {
    font-size: 16px; }
  .download-wrapp .block-content,
  .download-wrapp .header-block {
    padding: 15px; }
  .nav__menu a {
    padding: 10px 15px;
    font-size: 16px; }
  .footer__logo {
    margin-bottom: 15px; }
  .no-float-xs {
    float: none !important; }
  .banner-text {
    font-size: 24px;
    padding-left: 15px; }
  .left-img {
    height: 250px; }
  .last-news__name {
    font-size: 18px;
    height: 60px; }
  .footer__logo-text {
    display: inline-block;
    vertical-align: middle; }
  .last-news__wrapp {
    padding: 0 15px; }
  .block-content,
  .header-block {
    padding: 15px; }
  .top-list {
    font-size: 16px; }
  .nav > .container {
    padding-left: 0;
    padding-right: 0; }
  .hidden-xs {
    display: none; }
  .nav__menu {
    clear: both; }
  .move-link {
    padding-top: 0; }
  .grid {
    margin-left: -15px; }
  .grid .grid-item {
    padding-left: 15px; }
  .mrg-xs {
    margin-bottom: 30px !important; }
  .news-title {
    font-size: 20px; }
  .news-date {
    float: none !important; }
  .news-link,
  .last-news__rubric {
    float: none !important;
    padding-top: 10px; }
  .header-wrapp {
    display: block;
    padding: 15px 0; }
    .header-wrapp:after {
      content: "";
      display: block;
      height: 0;
      clear: both; }
  .logo,
  .language {
    float: left; }
  .header__social {
    margin-bottom: 15px; }
  .header__social,
  .enter {
    float: right; }
  .header__social:after {
    content: "";
    display: block;
    height: 0;
    clear: both; }
  .search {
    clear: both;
    width: 100%;
    margin: 15px 0; } }

@media (max-width: 550px) {
  .col-lxs-12 {
    width: 100%; }
  .post-text blockquote {
    font-size: 16px;
    margin-top: 15px;
    padding: 20px; }
    .post-text blockquote:before {
      left: 10px;
      top: -10px; }
  .post-text p {
    margin-top: 15px; }
  .post-text p {
    font-size: 15px; }
  .pagination__list > li {
    margin: 0 7px; }
  .col-es-12 {
    width: 100%; }
  .comments-send {
    width: 110px; }
  .comment-form .search__input {
    padding-right: 110px; }
  .about-img {
    height: 250px; } }
